/* this CSS is for all webpages in tokyo guiebook,
    it makes sure every pages have same design 
    and I dont have to rewite those codes for each web's CSS file */
html, body{
    height: 100%;
    margin: 0;
}

header{
    height: 100px;
    display: flex;
    margin: 0;
    background-color: rgb(54, 36, 23);
}

.main-title{
    width: 85%;
}

header h1{
    color: rgb(241, 218, 191);
    font-family: "Dela Gothic One", sans-serif;
    font-size: 6.5vw;
    line-height: 150px;
    padding-left: 20px;
    margin: 0;
    text-shadow: 8px 6px rgb(146, 129, 122);
    float: left;
    white-space: nowrap;
}

.navbar-botton{
    width: 15%;
    float: right;
    display: block;
    text-align: center;
}

.navbar-botton i{
    list-style:none;
    width: 100%;
    color: rgb(241, 218, 191);
    text-decoration: none;
    line-height: 100px;    
    font-size: 4vw;
    transition: 0.3s;
}

.navbar {
    display: inline-flex;
    flex-direction: column;
    visibility: hidden;
    /* hide navbar as only one icon */
    position: relative;
    width: 100%;
    text-align: center; 
    background-color: rgb(54, 36, 23);
    padding-bottom: 1vw;
    opacity: 0;
    transition: 0.3s;
}

.navbar-botton:hover i{
    font-size: 5vw;
    transform: rotate(90deg);
}

.navbar-botton:hover .navbar {
    /* when pointer hover on navbar icon, it will show the navbar */
    opacity: 1;
    visibility: visible;
}

.navbar a{
    color: rgb(241, 218, 191);
    font-family: "Dela Gothic One", sans-serif;
    text-decoration: none;
    font-size: 1.5vw;
    text-align: right;
    transition: 0.3s;
    line-height: 120%;
    padding: 1.4vw 1.4vw 1.4vw 0;
}

.navbar a:hover{
    text-shadow: -0.2vw 0.2vw rgb(146, 129, 122);
}


h2{
    font-size: 5vw;
    font-family: "Dela Gothic One", sans-serif;
    margin: 2vw auto 1vw auto;
    color: rgb(54, 36, 23);
    text-align: center;
    text-shadow: 0 0.8vw rgb(241, 218, 191);
}

@media (max-width: 768px){
    header{
        width: 100%;
        display: flex;
    }
    .main-title{
        width: 80%;
    }
    .main-title h1{
        line-height: 100px;
        font-size: 7.8vw;
        padding-left: 0.4vw;
    }
    .navbar-botton{
        width: 20%;
    }
    .navbar-botton i{
        font-size: 9vw;
    }
    .navbar a{
        font-size: 2.5vw;
        line-height: 120%;
        text-align: right;
        padding: 1.2vw 1.2vw 1.2vw 0;
    }
    h2{
        font-size: 8vw;
    }
}

footer{
    border-top: solid 10px;
    border-color: rgb(54, 36, 23);
    color: rgb(255, 251, 255);
    height: 150px;
    background-color: rgb(0, 5, 0);
}

footer > p{
    margin: 0;
    display: flex;
    font: 1.2rem "Fira Sans", sans-serif;
}